.sticky-top{
    overflow: hidden;
    max-width: 450px;
    margin: 2em auto;
}


.sticky-top{
    overflow: hidden;
    max-width: 450px;
    margin: 2em auto;
}

.card{
    overflow: hidden !important;
    text-align: center !important;
    width: 100% !important;
    height: 500px !important;
    padding: 0 !important;
    top: 0 !important;
    background-image: url('../images/cardbg.jpg') !important;
    background-size: cover !important;
    background-position: center center !important;
    margin: auto; 
    box-shadow: 0px 30px 30px -20px rgba(0, 47, 75, 0.97),
    inset 0 0 0 1000px rgba(220, 64, 37, 0.21);
    transition: all 0.4s cubic-bezier(.37,.26,.109,.2);
}
@media (max-width: 500px) {
    .card {
       width: 85%;
    }
}
.card:hover{
    box-shadow: 0px 30px 30px -20px rgba(0, 0, 0, 0.9),
    inset 0 0 0 1000px rgba(220, 64, 37, 0.1);
}

.card:hover .avatar{
    animation: none;
    box-shadow: 0;
    width: 150px;
    height: 150px;
    transform: translateY(-9em);
}

.card:hover .profile {
    opacity: 1;
    bottom: 0;
}
.profile{
    -webkit-transition: all 0.5s cubic-bezier(.37,.26,.35,1);
    -moz-transition: all 0.5s cubic-bezier(.37,.26,.35,1);
    transition: all 0.5s cubic-bezier(.37,.26,.35,1);
    opacity: 0;
    position: absolute;
    bottom: 20px;
}

.profile h3{
    color: #FFFFFF !important;
    padding: 0 !important;
    margin: 5px 0 40px 0 !important;
    font-size: 1.6em !important;
    font-family: 'Raleway' ,
    sans-serif !important;
    letter-spacing: 0.2em !important;
}
.profile p {
    font-size: .8rem !important;
}

.avatar{
    -webkit-transition: all 0.4s cubic-bezier(.37,.26,.35,1);
    -moz-transition: all 0.4s cubic-bezier(.37,.26,.35,1);
    transition: all 0.4s cubic-bezier(.37,.26,.35,1);
    animation: circleAn 4s infinite;
    width: 110px;
    height: 110px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: url('../images/Anusha.jpg');
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
    box-shadow: 0px 30px 30px -25px rgba(0, 0, 0, 0.6);
}

@keyframes circleAn{
    0%{
        box-shadow: 0px 30px 30px -25px rgba(0, 0, 0, 0.6), 
        0px 0px 0px 0px rgba(173, 151, 71, .5),
        0px 0px 0px 0px rgba(173, 151, 71, 0.2),
        0px 0px 0px 0px rgba(173, 151, 71, 0.1);
    }
    100% {
        box-shadow: 0px 30px 30px -25px rgba(0, 0, 0, 0.6), 
        0px 0px 0px 70px rgba(173, 151, 71, 0), 0px 0px 0px 200px rgba(173, 151, 71, 0), 0px 0px 0px 300px rgba(173, 151, 71, 0);
    }
}
