@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Anton');



body {
    margin: 0;
    font-family: 'Raleway', sans-serif !important;
    text-align: center !important;
    background: #231F20 !important;
    color: #fff !important;
    box-sizing: border-box;
}



.primary_footer{
    height: auto;
    width: 100%;
    background-color: #2d2d2b;
    padding: 1em 2em;
}

.primary_footer a{
    color: #fff;   
}
.primary_footer li{
    color: #fff;   
}

a{
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

a:hover,
a:focus{
  transform: scale(1.01);
  text-decoration: none !important;
  color: #fff !important;
}


/* primary footer */

.margin ul,
.margin p{
    margin-top: 2em;
}

.margin li{
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    font-size: 9px !important;
}

.margin li:hover{
    transform: scale(1.1);
}
.footer_blog{
    width: 70%; 
}

.footer_blog .pagination{
    display: none;   
}
.footer_blog img{
    width: 180px;
    height: 150px;
}


.footer_blog h3>a{
     display: none;
}
.footer_blog .info{
    display: none;
}


.footer_blog .info{
    font-size: 0.7em;
}
.footer_blog ul li>p:nth-of-type(1n+5) {display: none ;}

.primary_footer h6:before {
    content: ' ';
    position: absolute;
    margin-top: 1.7em !important;
    width: 40%;
    height: 1.7px;
    background-color: #7d734c;
    margin-top: 3.5%;
}
.primary_footer{
     text-align: left !important;   
}
.primary_footer p{
     font-size: 9px !important;
     letter-spacing: 0.2em;
}

.adjust .col-md-4{
     padding: 0 2em;   
}
.tagcloud {
    line-height: 40px;
    width: 100%;
    padding: 0;
    list-style: none;
    height: auto;
}

.tagcloud a{
    border-color: #7d734c;;
}

.tagcloud a {
    color: #fff;
    margin-right: 4px;
    padding: 6px 8px;
    text-decoration: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 9px !important;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-backface-visibility: hidden;
    border-style: solid;
    border-width: 1px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* final footer */

.textaligncenter {
    text-align: center !important;
}

.sub_footer {
    font-size: 12px;
    padding: 10px 0px;
}

.sub_footer .text_footer a {
    color: #7d734c;
}



/* social links */
.about_social {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    margin: 0.2em;
    padding: auto;
}

.socialinks{
    display: flex;
    justify-content: center;
    align-items: center;
}

